* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tabs {
  padding: 10px 15px;
  /* margin: 20px; */
  font-size: 30px;
  font-family: A;
  background: none;
  outline: none;
  width: 90%;
  margin: 5%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.tabtags {
  padding: 10px 25px;
  margin: 20px;
  font-size: 30px;
  font-family: "Inter var", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica New", Helvetica, sans-serif;
  background: none;
  outline: none;
  border: none;
  color: gray;
}

.tabtags:hover {
  color: #000000;
}

.tabtags.active {
  color: #000;
}

img#me {
  float: left;
  width: 25%;
  padding-right: 1rem;
  padding-top: 0.4rem;
}

img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

img:hover {
  -webkit-filter: none;
  filter: none;
}

#about-me {
  width: 65%;
  margin: 0.5rem;
  font-family: "Inter var", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica New", Helvetica, sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  margin-top: -3%;
  font-weight: 200;
  line-height: 1.5;
}

#about-me a {

  color: #000;
  font-weight: 200;
}

.tab-content {
  width: 90%;
  margin: 10%;
  padding: 10px;
  /* background: #f2f2f2; */
  font-family: "Inter var", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica New", Helvetica, sans-serif;
  margin-top: 0%;
  padding-top: 0%;
  margin-bottom: 1rem;
}

.content {
  margin-left: 50px;
}

p {
  margin-bottom: 0.5rem;
}

.footer {
  padding: 10px;
  margin: 2rem;
  font-size: 30px;
  text-align: center;
  bottom: 0;
  width: 80%;
  margin-right: 10%;
  line-height: 1.5rem;
}
.footer i {
  color: #000;
}

.footer a {
  text-decoration: none;  
}

.tooltiptext {
  visibility: hidden;
  font-size: 12px;
  width: 120px;
  padding: 5px;
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 0;
  background-color: #000;
  font-family: "Inter var", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica New", Helvetica, sans-serif;
}

.fa.fa-linkedin:hover .tooltiptext {
  visibility: visible;
}

.fa.fa-twitter:hover .tooltiptext {
  visibility: visible;
}

#license {
  font-family: "Inter var", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica New", Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #000;
  font-weight: 200;
}


#Posts img {
  width: 65%;
}

#Publications img {
  width: 65%;
}

.calendly-inline-widget {
  width: 65%;
  height: 630px;
}

content #Contact {
  margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
  .tabtags {
    font-family: "Inter var", "Inter", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Ubuntu, "Helvetica New", Helvetica, sans-serif;
    font-size: 15px;
    margin: 5px;
    padding: 2px;
    /*margin-top: 100px;*/
  }

  .tabs {
    margin-left: 20px;
    padding: 5px;
    margin-bottom: 1rem;
  }

  .tab-content {
    margin-left: 20px;
    padding: 5px;
  }

  .content {
    font-family: "Inter var", "Inter", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Ubuntu, "Helvetica New", Helvetica, sans-serif;
    font-size: 15px;
    margin: 5px;
    padding: 2px;
  }

  #about-me {
    font-family: "Inter var", "Inter", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Ubuntu, "Helvetica New", Helvetica, sans-serif;
    width: 90%;
    font-size: 12px;
    text-align: justify;
  }

  .calendly-inline-widget {
    position: relative;

    width: 90%;
  }

  #Posts img {
    width: 90%;
  }

  #Publications img {
    width: 90%;
  }
}

@media only screen and (min-width: 1200px) {

  .content {
    font-family: "Inter var", "Inter", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Ubuntu, "Helvetica New", Helvetica, sans-serif;
    font-size: 15px;
    margin: 5px;
    padding: 2px;
  }

  #about-me {
    font-family: "Inter var", "Inter", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Ubuntu, "Helvetica New", Helvetica, sans-serif;
    width: 40%;
    
    text-align: justify;
  }

  .calendly-inline-widget {
    position: relative;

    width: 40%;
  }

  #Posts img {
    width: 40%;
  }

  #Publications img {
    width: 40%;
  }

  .tab-content {

    margin-left: 30%;
  }

  .tabs {

    margin-left: 28%;
    font-size: 27px;
  }

  .tabtags {

    font-size: 28px;
  }

  .footer {

    margin-left: 7rem;
  }

}

@media only screen and (min-width:961px)  {
#about-me {
  width: 65%;
  margin: 0.5rem;
  font-family: "Inter var", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica New", Helvetica, sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  margin-top: -3%;
  font-weight: 200;
  line-height: 1.5;
}
.tab-content {
  width: 90%;
  margin: 10%;
  margin-top: 0%;
  padding-top: 0%;
  margin-bottom: 1rem;
}

.content {
  margin-left: 50px;
}
.tabtags {
  margin: 20px;
  font-size: 30px;

}
.tabs {
  font-size: 30px;
  margin: 10%;
  margin-bottom: 2rem;
}
.footer {
    margin-left: 2rem;
  }
}
